---
---

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
}

.heading h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul li {
  float: right;
}

.navbar ul li a {
  display: block;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-weight: bold;
  color: #4d4d4d;
}

.navbar ul li a:hover {
  color: #111111;
}

.archive ul {
  list-style: none;
}

h1 {
  border-bottom-color: linear-gradient(to right, #4f4f4f, gray, white, white);
  border-bottom-width: thin;
}

h2 {
  border-bottom: 1px solid linear-gradient(
    to right,
    #4f4f4f,
    gray,
    white,
    white,
    white,
    white
  );
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: #5d5d5d;
}

a:hover {
  color: #111111;
  text-decoration: underline;
}

a:visited {
  color: #000042
}

hr {
  background: linear-gradient(to right, #4f4f4f, gray, white, white);
  padding: 0;
  margin: 0;
  height: 1px;
  border: 0;
}
